<div [ngClass]="themeClass">
    <div class="input-group date">
        <input type="text" [(ngModel)]="formattedDate" class="form-control input-sm plain-field" id="{{id}}" (focus)="open()" />
        <span class="input-group-addon" (click)="toggle()">
        <i class="material-icons">date_range</i>
        </span>
    </div>

    <div class="dp-popup" *ngIf="showDatepicker">
        <datepicker [(ngModel)]="datePickerDate" [showWeeks]="false" (selectionDone)="onSelectionDone($event)"></datepicker>
    </div>
</div>